<main id="skills">
  <h1>{{ 'mySkills.title' | translate }}</h1>
  <section>
    <div class="skills">
      @for (skill of skills; track skill.name) {
        <div class="skill-card">
          <img [src]="skill.img" [alt]="skill.name + ' logo'">
          <p>{{ skill.name }}</p>
        </div>
      }
    </div>

    <div class="learning">
      <img src="assets/img/Skill-Ellipse.png" alt="Ellipse" class="ellipse">

      <div class="logos">
        <p>{{ 'mySkills.learning' | translate }}</p>
        <img src="assets/img/react.png" alt="React">
        <img src="assets/img/vue.png" alt="Vue">
      </div>
    </div>


  </section>
</main>
