<app-navbar></app-navbar>
<div class="container legal-notice-content">
  <section id="privacy-policy" class="legal-notice-section">
    <div class="headline">
      <h1>{{ "privacyPolicy.title" | translate }}</h1>
      <mat-icon (click)="close()">close</mat-icon>
    </div>

    <p>
      <strong>{{ "privacyPolicy.intro" | translate }}</strong>
    </p>

    <h2>{{ "privacyPolicy.dataCollectionTitle" | translate }}</h2>
    <p>{{ "privacyPolicy.dataCollection" | translate }}</p>

    <h2>{{ "privacyPolicy.serverLogsTitle" | translate }}</h2>
    <p>{{ "privacyPolicy.serverLogs" | translate }}</p>

    <h2>{{ "privacyPolicy.rightsTitle" | translate }}</h2>
    <p>{{ "privacyPolicy.rights" | translate }}</p>

    <h2>{{ "privacyPolicy.securityTitle" | translate }}</h2>
    <p>{{ "privacyPolicy.security" | translate }}</p>
  </section>
</div>
<app-footer></app-footer>
