<nav>
  <section>
    <img src="img/initialen.png" alt="test">
    <p>A.Bartmann</p>
    <p>developer</p>
  </section>
  <section>
    <button
      [class.active]="activeButton === 'whyMe'"
      (click)="navigateTo('whyMe')"
    >Why me</button>

    <button
      [class.active]="activeButton === 'skills'"
      (click)="navigateTo('skills')"
    >Skills</button>

    <button
      [class.active]="activeButton === 'projects'"
      (click)="navigateTo('projects')"
    >Projects</button>

    <button
      [class.active]="activeButton === 'contact'"
      (click)="navigateTo('contact')"
    >Contact</button>
  </section>
  <div>
    <button>DE</button>
    <button>EN</button>
  </div>

</nav>
