<section id="whyMe">
  <h1>Why me</h1>
  <main>
    <div class="located">
      <img src="img/location.png" alt="">
      <span>
        <p>I am</p>
        located in Landshut,Germany..
      </span>
    </div>
    <div>
      <p>
        I bring a fresh perspective, genuine curiosity, and plenty of motivation.
        Frontend development is more than just code to me, it's about bringing ideas to life and creating great user experiences.
        I learn quickly, love writing clean code, and enjoy finding creative solutions. With modern technologies like Angular, TypeScript, and Firebase,
        I'm constantly expanding my skills, aiming to build web applications that really make a difference.
      </p>
      <div>
        <button>Let's talk</button>
      </div>
    </div>
  </main>
</section>
