<section class="contact-section" id="contact">
  <h1 class="secondary">Contact me</h1>

  <div class="contact-intro">
    <p>If you like what you see, let's talk! Whether it's a job, project, or feedback. I'd love to hear from you.</p>
    <div class="contact-info">
      <a href="mailto:alexander-bartmann@outlook.de">
      <mat-icon>email</mat-icon>
      alexander-bartmann&#64;outlook.de
      </a>
      <a href="tel:+4915679646114">
        <mat-icon>phone</mat-icon>
        +4915679646114
      </a>
    </div>
  </div>

  <form (ngSubmit)="onSubmit()" class="contact-form">
    <div class="form-row">
      <div class="form-field" [class.invalid]="isFieldInvalid('name')">
        <label class="secondary">Your Name</label>
        <input type="text" [(ngModel)]="name" name="name">
      </div>
      <div class="form-field" [class.invalid]="isFieldInvalid('email')">
        <label class="secondary">Your Email</label>
        <input type="email" [(ngModel)]="email" name="email">
      </div>
    </div>

    <div class="form-field full-width" [class.invalid]="isFieldInvalid('message')">
      <label class="secondary">Your Message</label>
      <textarea rows="5" [(ngModel)]="message" name="message"></textarea>
    </div>

    <div class="form-agreement" [class.invalid]="isCheckboxInvalid()">
      <label class="checkbox-container">
        <input type="checkbox" [(ngModel)]="agreed" name="agreed">
        <span class="custom-checkbox" [class.checked]="agreed">&#10003;</span>
      </label>
      <p>
        I have read the privacy policy and agree to the processing of my data as outlined.
      </p>
    </div>

    <div class="form-actions">
      <button type="submit" class="send-button" [disabled]="isSending">
        <ng-container *ngIf="!isSending">Send</ng-container>
        <ng-container *ngIf="isSending">Sending...</ng-container>
      </button>
    </div>
  </form>
</section>
