@mixin display($display: flex, $justify: center, $align: center, $direction: column) {
    display: $display;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

@mixin content-padding(){
  padding: 5% 10% 0;
}
