@import 'variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html, body{
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  background-color: $main;
  color: $font;
  width: 100%;
}

@media (max-width: 768px) {
  h1 {
    font-size: 3rem!important;
    margin: 5rem 0 3rem;
    text-align: center;
  }

}


html, body { height: 100%;     overflow-x: hidden;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
